@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        
           @ViewData["Msg"];
        

    </p>
</div>
@{ 
    int x = 0;
    while (x < 10)
    {
        ViewData["Msg"] += x + " \n" + "Renato =!=>";
        x++;
    }

}
<h1>
    @ViewData["Msg"];
</h1>
